# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\迅雷及浏览器下载\weixin\WeChat Files\wxid_3oxqez39lqg922\FileStorage\File\2023-06\LibraryManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
